@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removes the arrow keys on number input fields */
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* Style scrollbar */
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 1.2em;
        height: 1.2em;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #f7f4ed;
        border-radius: 100vw;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgba(82, 82, 82, 0.7);
        border-radius: 100vw;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(82, 82, 82, 0.9);
    }
}
